/*.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}*/

#container{
  margin: 40px auto;
  width: 800px;
}
.chart rect{
  stroke: white;
  fill: #2d578b;
}
.chart text{
  fill: white;
}
.chart text.rule{
  fill: black;
}
.chart text.days{
  fill: black;
}