!!!
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title eating stats
    meta(name='description', content='a very personal hackday project')
    meta(nane='author', content='Philipp Küng')

    meta(name='viewport', content='width=device-width,initial-scale=1')

    link(rel='stylesheet', href='/css/eatingstats.css')
    
  body
    div(id='container')!= body

    script(src='/js/libs/foundation.min.js')
    script(src='/js/libs/app.js')
    script(src='/js/libs/d3.v2.min.js')
    script(src='/js/app.js')