body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8607em;
}

h1 {
  font-size: 2.857em;
  padding-bottom: 0px;
}

p {
  line-height: 1.5em;
}

#container {
  margin: 20px auto;
  max-width: 654px;
}

div.row {
  clear: left;
  border-top: 1px solid #DDD;
  padding-top: 30px;
}

#container div.row:first {
  border-top: none;
}

div.row > div.graph {
  float: left;
}

text.marker {
  font-size: 8px;
}

#weight_container text {
  font-size: 8px;
}

div.row > div.description {
  max-width: 250px;
  margin-left: 40px;
  float: left;
}

rect {
  stroke: white;
  fill: steelblue;
  shape-rendering: crispEdges;
}

line {
  shape-rendering: crispEdges;
}

.chart rect{
  stroke: white;
  fill: steelblue;
  shape-rendering: crispEdges;
}