/*.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}*/

#container {
  margin: 40px auto;
  width: 800px;
}

#container>svg {
  float: left;
}

rect {
  stroke: white;
  fill: steelblue;
  shape-rendering: crispEdges;
}

line {
  shape-rendering: crispEdges;
}
.chart rect{
  stroke: white;
  fill: steelblue;
  shape-rendering: crispEdges;
  /*fill: #35478C;*/
/*  fill: url(../images/thumbnails/20_12939271197.jpg);*/
}
/*.chart rect.weight{
  fill: #4E7AC7;
}
.chart text{
  fill: white;
}
.chart text.rule{
  fill: black;
}
.chart text.days{
  fill: black;
}
.chart text.weight{
  font-size: 9px;
}*/