body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8607em;
}

h1 {
  font-size: 2.857em;
}

p {
  line-height: 1.5em;
}

#container {
  margin: 20px auto;
  max-width: 654px;
}

div.row {
  clear: left;
  padding-bottom: 20px;
}

div.row > div.graph {
  float: left;
}

div.row > div.description {
  max-width: 230px;
  margin-left: 20px;
  float: left;
}

rect {
  stroke: white;
  fill: steelblue;
  shape-rendering: crispEdges;
}

line {
  shape-rendering: crispEdges;
}
.chart rect{
  stroke: white;
  fill: steelblue;
  shape-rendering: crispEdges;
}